<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.mah.kd330a.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/image_mah_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="se.mah.kd330a.project.framework.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="se.mah.kd330a.project.settings.view.SettingsActivity"
            android:label="@string/title_activity_settings" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.mah.kd330a.project.framework.MainActivity" />
        </activity>
        <activity
            android:name="se.mah.kd330a.project.framework.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="se.mah.kd330a.project.adladok.test.AddLadokAccount"
            android:label="@string/title_activity_ad_ladok_test" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
    </application>

</manifest>
